/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-pandp-blocks-post-carousel {

  .outer-container {

    .inner-container {
      min-height: unset;

      .horizontal-container {
        position: relative;

        .entry-categories a {
          background-color: $black;
          color: #fff;
          padding: 5px 10px;
          text-decoration: none;
        }
      }

    }

  }

}
