/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-pandp-blocks-post-carousel {

  .outer-container {
    position: relative;
    width: 100%;

    .inner-container {
      min-height: calc(100vh - 90px);
      overflow-x: hidden;
      position: sticky;
        top: 0;
      width: 100%;

      .horizontal-container {
        display: flex;
          align-items: center;
        height: 100%;
        position: absolute;
        will-change: transform;

        .post-container {
          display: flex;
          padding: 0 15px;

          .post {
            flex-shrink: 0;
            margin: 30px 30px 30px 0;
            width: 75vw;
              max-width: 21.88rem;

            .entry-header {
              display: flex;
                flex-direction: column;
              margin-bottom: 15px;

              .entry-image-link {
                border-radius: 1.875rem;
                display: block;
                max-height: 14.5rem;
                order: -2;
                overflow: hidden;
              }

              .entry-title {
                background-color: transparent;
                bottom: 0;
                color: #393939;
                font-size: 1.125rem;
                left: 0;
                margin: 0 15px !important;
                padding: 0;
                position: relative;

                a {
                  text-decoration: none;
                }

              }

              .entry-meta {
                margin-top: 15px;
                order: -1;
              }

            }

            .entry-content {
              font-size: 1rem;
            }

            &.has-post-thumbnail .entry-meta {
              margin-top: -0.9375rem;
            }

          }

        }

      }

    }

  }

}

@media only screen and (min-width:156.25em) {

  .wp-block-pandp-blocks-post-carousel .outer-container .inner-container .horizontal-container {
    justify-content: center;
    width: 100%;
  }

}
