/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

// .site-inner {
//   margin-top: 0 !important;
//   overflow: visible !important;
// }
//
// .wrap {
//   max-width: unset !important;
// }

.wp-block-pandp-blocks-post-carousel {

  .outer-container {
    position: relative;
    width: 100%;

    .inner-container {
      min-height: 90vh;
      overflow-x: hidden;
      position: sticky;
        top: 0;
      width: 100%;

      .horizontal-container {
        display: flex;
          align-items: center;
        height: 100%;
        position: absolute;
        will-change: transform;

        .post {
          flex-shrink: 0;
          width: 30%;

          .entry-title {
            margin: 0 !important;
            position: relative;
          }

        }

      }

    }

  }

}
